*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-image: url(https://images.wallpaperscraft.com/image/palm_trees_sunset_tropics_129369_1366x768.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.container{
    margin: 80px auto;
    width: 325px;
    padding: 2px;
    margin-top: 2em;
    background: #eee;
    border-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 25px 50px -12px rgba(255, 0, 0, 0.2);
}

.profile{
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title{
    text-align: center;
    font-size: 18px;
    width: 100%;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: 500;
    color: black;
}



.header{
    background-image: linear-gradient(rgb(0,0,0,0.01),rgb(0,0,0,0.4)),url(https://images.unsplash.com/photo-1494486205133-727224a9f727?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    position: relative;
}

.clear{
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 24px;
    color: #fff;
    height: 180px;
    width: 100%;
    text-align: right;
}

#date{
    
    font-size: 21px;
    color: black;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.content{
    background: #fff;
    min-height: 300px;
    height: 100%;
}

#list{
    list-style-type: none;
    min-height: 260px;
    height: 90%;
    border-bottom: 2px solid blue;
}

.item{
    width: 100%;
    padding: 8px;
    background: #eee;
    box-sizing: border-box;
}

.fa{
    cursor: pointer;
    transition: .1s linear;
}

.fa:hover{
   transform: scale(1.2);
}

.item .fa, .item p{
    display: inline-block;
    font-size: 21px;
}

.item p{
    font-size: 16px;
    margin: 0 auto;
    margin: 0 0 0 20px
}

.de{
    float: right;
}

.co{
    float: left;
}

.add-item{
    min-height: 40px;
    height: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 8px;
    color:blue;
    background:#eee;

}

.add-item .fa{
    display: inline-block;
    font-size: 34px;
    margin-right: 10px;
    margin-top: 4px;
}

input[type=text] {
    width: 87%;
    box-sizing: border-box;
    display: inline;
    float: right;
    border: none;
    height: 40px;
    font-size: 18px;
    background:#eee;
    padding: 10px;
}

input[type=text]::placeholder{
    color: blue;
}
.lineThrough{
    text-decoration: line-through;
    color: #ccc;
}
.button-container-1 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: 2em;
  margin-top: -34em;
  overflow: hidden;
  border: 1px solid;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}
.button-container-1 button {
  width: 101%;
  height: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  background: linear-gradient(to right,purple,yellow);
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}
.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 15px;
  margin-top: 14px;
  overflow: hidden;
  font-weight: bold;
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
